#tlo-obrazek{
    background-image: url("../fotki/kurcze.jpeg");
background-size: contain;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat
        
}